---
selected_ports_{{ item }}:
{% for port in open_ports %}
  - port.switch: {{ port.switch }}
    item: {{ item }}
{% if item == port.switch %}
    switch: {{ port.switch }}
    port: {{ port.port }}
{% endif %}
{% endfor %}
