---
selected_ports_{{ item }}:
{% set count = namespace(items=0) %}
{% for port in open_ports %}
{% if port.switch  == item and count.items <= 1 %}
  - switch: {{ port.switch }}
    port: {{ port.port }}
{% set count.items = count.items+1 %}
{% endif %}
{% endfor %}
