---
{{ item }}_selected_ports:
{% set count = namespace(items=0) %}
{% for port in open_ports %}
{% if port.switch  == item and count.items <= 1 %}
  - switch: {{ port.switch }}
    port: {{ port.port }}
    count: {{ count.items }}
{% set count.items = count.items+1 %}
{% endif %}
{% endfor %}
